*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(180deg,rgb(0, 78, 0),rgb(75, 240, 75));
    height: 100vh;
    overflow: hidden;
}
.box{
    margin: 30px auto;
    width: 50vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.box button{
    border: none;
    border-radius: 5px;
    font-family: sans-serif;
    font-size: 20px;
    color: green;
    cursor: pointer;
    outline: none;
    background-color: white;
    padding: 10px 20px;
}
.modal{
    background-color: rgba(8, 8, 8, 0.294);
    backdrop-filter: blur(5px);
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
}
.modal .text{
    position: relative;
    font-family: sans-serif;
    background-color: white;
    width: 50vw;
    padding: 50px;
    border: none;
    border-radius: 10px;
}
.modal .text h1{
    margin-bottom: 20px;
}
.modal .text span{
    color: rgb(154, 27, 27);
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    border: 1px solid rgb(154, 27, 27);
    border-radius: 5px;
    padding: 0 7px;
    cursor: pointer;
}
.modal .text span:hover{
    background-color: rgb(154, 27, 27);
    color: white;
}
.active{
    display: flex;
    justify-content: center;
    align-items: center;
}